html
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

#form-wrapper
{
    flex-grow: 2;
    background: #EDEEF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form
{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 25%;
}

#navigator
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 20px;

}

.navigator_button
{
    background: #3776EA;
    padding: 3px;
    margin: 3px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #EDEEF0;
    cursor: pointer;
    font-size: 1em;
}

.signUp {
    flex: 2;
}

.signUp input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
}

.change{
    flex: 2;
}

.change input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1em;
}

.status
{
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: red;
}


#submit
{
    margin-bottom: 15px;
    background: #3776EA;
    color: #EDEEF0;
    cursor: pointer;
}

#main_status
{
    border-radius: 25%;
    background: #ffffff;
}

.login{
    display: none;
}

.change
{
    display: none;
}

.signUp
{
    display: flex;
}

