body
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main-wrapper
{
    display: flex;
    justify-content: center;
    background: #EDEEF0;
}

#content_main
{
    width:100%;
    display: flex;
    justify-content: space-between;
}

#gallery
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

hr
{
    width: 100%;
}

.posts
{
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 640px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.like_section
{
    display: flex;
    justify-content: space-between;
}

.like
{
    background-image: url("../../img/like.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    border: none;
    width: 20%;
    border-radius: 5px;
}

.add_comment
{
    background: #EDEEF0;
    background-image: url("../../img/comment.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    border: none;
    text-align: right;
    width: 20%;
    padding: 5px;
    border-radius: 5px;cursor: pointer;
}

.comment_wrapper
{
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 10px;
}

.show_comments
{
    order: 100;
}

.login
{
    background: #3776EA;
    opacity: 0.6;
    color: black;
    text-align: center;
    border-radius: 5px;
}

.message
{
    background: white;
    color: black;
    text-align: justify;
    word-wrap: break-word;
    padding: 5px;
}


#to_header
{
    width: 5%;
    background:deepskyblue;
    opacity: 0.08;
    transition: opacity 0.2s;
}

#to_header:hover
{
    opacity: 0.4;
}

#to_header a
{
    text-decoration: none;
    color: white;
    position: fixed;
    font-size: 2em;
}

#more_button
{
    width: 5%;
    background:deepskyblue;
    opacity: 0.08;
    transition: opacity 0.2s;
    color: white;
    font-size: 2em;
}

#more_button span
{
    position:fixed;
}


#more_button:hover
{
    opacity: 0.4;
}

