
#main-wrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header
{
    /*position: fixed;*/
    width: 100%;
    grid: 0;
    border-style: dotted;
    display: flex;
    justify-content: space-between;
}

#logo
{
    border-style: dotted;
    flex-basis: 100%;
    max-height: 55px;
}

#logo-image
{
    max-height: 55px;
}

.navigator
{
    font-size: 20px;
    border-style: dotted;
    flex-basis: 160px;
}

#nav-bar
{
    display: flex;
    border-style: dotted;
    flex-basis: 100%;
    justify-content: flex-end;
    height: 55px;
}


#logout
{
    background-color: rgb(55, 118, 234);
    color: rgb(255,255,255);
}

#acount
{
    background-color: rgb(255, 255, 255);
}

#content
{
    flex-basis: 960px;
}

#gallery
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.posts
{
    border-style: dotted;
    background-color: aqua;
    max-width: 550px;
}

.posts img{
    width: 100%;
}

footer
{
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background: rgb(55, 118, 234);
    border-style: dotted;
    z-index: -10;
}