body
{
    width: 100%;
    height: 100%;
}

#wrapper
{
    background:#EDEEF0;
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    height: 100%;
}

#video_content
{
    margin: 2% 0;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#video_frame
{
    background: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    border-radius: 5px;
    margin-bottom: 5px;

}

#preview_frame
{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    max-height: 10%;
}

#video_screen
{
    display: flex;
    justify-content: center;
    width: 640px;
    height: 480px;
    position: relative;
}

#video_buttons
{
    background: #EDEEF0;;
    width: 100%;
    padding: 2px;
}

.video_nav
{
    background: #3776EA;
    text-align: center;
    width: 100%;
    margin: 2px 0;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
}

#upload_button
{
    display: none;
}

#template_nav
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 3px;
}

.template_nav_butt
{
    text-align: center;
    flex-basis: 25%;
}

.template_nav_butt
{
    background: #3776EA;
    margin: 0 2px;
}


.preview_nav
{
    background: #3776EA;
    text-align: center;
    margin: 2px 0;
    padding: 2px;
    border-radius: 5px;
}

#template_gallery
{
    margin: 2% 0;
    margin-left: 1%;
    border-radius: 5px;
    background: white;
    order: -1;
    flex-basis: 367px;
    max-height: 1074px;
    overflow: scroll;
}

.template_menu
{
    background: #3776EA;
    text-align: center;
    border-radius: 5px;
}

.category_content
{
    display: none;
    flex-wrap: wrap;
}

#photo_gallery
{
    margin: 2% 0;
    margin-right: 1%;
    background: white;
    border-radius: 5px;
    flex-basis: 367px;
    max-height: 1074px;
    overflow: scroll;
}

#photo_gallery img
{
    width: 97%;
    border: 5px solid #3776EA;
    padding: 5px;
    margin: 3px;
    box-sizing: border-box;
    border-radius: 5px;

}

.gallery_image
{
    position: relative;
}

.dell_button
{
    position: absolute;
    color: white;
    background: #3776EA;
    margin: 13px;
    padding: 5px;
    opacity: 0.3;
    transition: opacity 0.2s;
}

.dell_button:hover
{
    opacity: 0.8;
}

#template
{
    position: absolute;
    width: 50px;
    height:50px;
    display: none;
    z-index: 1;
}

#temp
{
    display: none;
}

#template_error
{
    display: none;
}

#snap
{
    opacity: 0.4;
}

#send_photo
{
    opacity: 0.4;
}

#back
{
    opacity: 0.4;
}

#user_error
{
    position: absolute;
    padding: 5px;
    display: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: red;
    color: white;
    opacity: 0.5;
    z-index: 1;
}
